<div class="container col s12 m12 l12">
    <div class="row">
        <div class="col s12 m5">
            <div class="card-panel teal">
                <span class="white-text">{{stats.receiptsLastSevenDays}} receipts entered in the last 7 days</span>
            </div>
        </div>
        <div class="col s12 m5">
            <div class="card-panel teal">
                <span class="white-text">{{stats.receiptsLastMonth}} receipts entered in the last month</span>
            </div>
        </div>
    </div>
</div>
