<div class="container col s12 m12 l12">
    <div class="row">
        <div class="col s12 m5">
            <div class="card">
                <div class="card-image">
                    <img src="images/mouseandpaperwork.jpg">
                    <span class="card-title black-text">Last 7 Days</span>
                </div>
                <div class="card-content">
                    <p>{{stats.receiptsLastSevenDays}} receipts entered in the last 7 days</span>
                </div>
                <div class="card-action">
                    <a href="#/list">View All Receipts</a>
                </div>
            </div>
        </div>
        <div class="col s12 m5">
            <div class="card">
                <div class="card-image">
                    <img src="images/calculatorandpen.jpg">
                    <span class="card-title black-text">Last Month</span>
                </div>
                <div class="card-content">
                    <p>{{stats.receiptsLastMonth}} receipts entered in the last month</span>
                </div>
                <div class="card-action">
                    <a href="#/list">View All Receipts</a>
                </div>
            </div>
        </div>
    </div>
</div>
