<div class="container col s12 m12 l12">
<div class="row"></div>
<ul class="collection">
    <li ng-repeat="receipt in filteredReceipts" class="collection-item avatar">
        <a ng-href="#/receipt/{{receipt._id}}">
        <div class="list-item-receipt-details">
                <div class="container-item-receipt-thumbnail">
                    <img ng-src="{{receipt.file}}" class="img-list-receipts-thumbnail materialboxed">
                </div>
                <div class="container-item-receipt-text">
                    <i class="material-icons circle green">insert_chart</i>
                    <span class="title">{{receipt.date}}</span>
                    <p>{{receipt.project}}
                        <br>
                    <p>{{receipt.price}}
                    </p>
                </div>
        </div>
        </a>
    </li>
</ul>
</div>
<!--div class="container col s12 m12 l12">
    <div class="row"></div>
    <ul class="collection">
        <li ng-repeat="receipt in filteredReceipts" class="collection-item avatar">
            <div class="list-item-receipt-details">
                <div class="container-item-receipt-thumbnail">
                    <img ng-src="{{receipt.file}}" class="img-list-receipts-thumbnail materialboxed">
                </div>
                <div class="container-item-receipt-text">
                    <i class="material-icons circle green">insert_chart</i>
                    <span class="title">{{receipt.date}}</span>
                    <p>{{receipt.project}}
                        <br>
                    <p>{{receipt.price}}
                    </p>
                </div>
            </div>
        </li>
    </ul>
</div-->
