<div class="inset" hide-sm></div>
    <div class="row">
        <md-datepicker md-open-on-focus ng-model="receipt.receiptDate" md-placeholder="Enter date"></md-datepicker>
    </div>
    <div class="row">
        <md-input-container>
            <label for="receiptValue">Claim Value</label>
            <input id="receiptValue" type="number" class="validate" required required ng-model="receipt.price">
        </md-input-container>
    </div>
    <div class="row">
        <md-input-container>
            <label>Project</label>
            <input class="validate" type="text" ng-model="receipt.project">
        </md-input-container>
    </div>
    <div class="row">
        <md-input-container>
            <md-select ng-model="receipt.category" placeholder="Select a category">
                <md-option ng-value="category" ng-repeat="category in categories">{{ category.name }}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div class="row">
        <md-input-container>
            <label>Description</label>
            <textarea class="validate" type="text" ng-model="receipt.description"></textarea>
        </md-input-container>
    </div>
    <div class="row">
        <form action="#">
            <div class="container col s12 m12 l12">
                <div class="row">
                    <div input-field class="col s12">
                        <div input-field class="file-field">
                            <div class="btn">
                                <span>Upload</span>
                                <input type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <md-button ng-click="submitReceipt()" ng-if="!receiptInvalid" class="md-raised md-primary">Save Receipt</md-button>
        <md-button ng-click="submitReceipt()" ng-if="receiptInvalid" ng-disabled="true">Save Receipt</md-button>
    </div>
</div>
