<div class="container col s12 m12 l12">
    <div class="row">
        <div class="input-field col s12">
            <input id="newReceiptCreateDate"
                   name="newReceiptCreateDate"
                   input-date
                   type="text"
                   ng-model="receipt.receiptDate"
                   container=""
                   format="dd mmm yyyy"
                   disable="disable"
                   today="today"
                   clear="clear"
                   close="close"
                   select-years="15"
            />
            <label class="active" for="newReceiptCreateDate">Receipt Date</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="receiptValue" type="number" class="validate" ng-model="receipt.price">
            <label for="receiptValue">Claim Value</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input class="validate" id="projectName" type="text" ng-model="receipt.project">
            <label class="active" for="projectName">Project</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <select select-option id="receiptCategory" name="receiptCategory" ng-model="receipt.category">
                <option ng-if="categories" ng-repeat="category in categories">{{category.name}}</option>
            </select>
            <label class="active" for="receiptCategory">Category</label>
        </div>
    </div>
    <div class="row">
        <div input-field class="col s12">
            <textarea class="materialize-textarea validate" type="text" id="receiptDescription" ng-model="receipt.description"></textarea>
            <label class="active" for="receiptDescription">Description</label>
        </div>
    </div>
    <div class="row">
        <form action="#">
            <div class="container col s12 m12 l12">
                <div class="row">
                    <div input-field class="col s12">
                        <div input-field class="file-field">
                            <div class="btn">
                                <span>Upload</span>
                                <input type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div input-field class="col s12">
            <button class="waves-effect waves-light btn" ng-click="submitReceipt()" ng-if="!receiptInvalid" >Save Receipt</button>
            <button class="disabled btn" ng-click="submitReceipt()" ng-if="receiptInvalid" >Save Receipt</button>
        </div>
    </div>
</div>
